black==23.11.0
blinker==1.9.0
click==8.1.8
flake8==6.1.0
Flask==3.0.0
gunicorn>=20.0.4
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.11.1
pyflakes==3.1.0
pytest==7.4.3
python-dotenv==1.0.0
Werkzeug==3.1.3
